/* Sticky footer */

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
}

main {
    flex: 1 0 auto;
}

.section-title {
    color: teal;
}

h1 {
    color: teal;
}